BODY {
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 6%;
  margin-bottom: 3%;
}
P {
  line-height: 1.2em;
}
h1 {
  font-style: italic;
  font-family: "ＭＳ 明朝", serif;
  color: black;
  text-align: center;
}
.time {
  text-align: right; 
}
/*---------背景色--------- */
body {
  background-color: #fff9ce;
}
